@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fontsource/roboto-condensed";

body {
    font-family: Trebuchet MS , sans-serif;
    color: #444;
    background:#FAFAFA;
}

.jumbotron-img {
    background: rgb(237,116,88);
    background: linear-gradient(302deg, rgba(237,116,88,1) 16%, rgba(51,61,81,1) 97%);
    color: #fff;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #ED7458 ;
}

.q-container img, .q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.q-display {
    background: #fff;
    border-radius: .25rem;
}
.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}
.q-title {
    text-transform: uppercase;
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #333D51;
    color: #fff;
}

.answer-link:hover .magic-wand {
    transform: rotate(20deg);
}

.vote-arrows, .vote-arrows .btn {
    font-size: 1.5rem;
}

.vote-arrows .btn {
    color: #444;
    padding: 0;
}

.vote-arrows span {
    font-size: 1rem;
}

.vote-up:hover {
    color: #3D9970;
}
.vote-down:hover {
    color: #FF4136;
}

.vote-arrows-alt .vote-up:hover {
    color: #3D9970;
}
.vote-arrows-alt .vote-down:hover {
    color: rgba(179, 20, 12, 0.63);
}

.btn-question {
    color: #FFFFFF;
    background-color: #ED7458;
    border-color: #D45B3F;
}

.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
    color: #FFFFFF;
    background-color: #D45B3F;
    border-color: #D45B3F;
}

.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
    background-image: none;
}

.btn-question.disabled,
.btn-question[disabled],
fieldset[disabled] .btn-question,
.btn-question.disabled:hover,
.btn-question[disabled]:hover,
fieldset[disabled] .btn-question:hover,
.btn-question.disabled:focus,
.btn-question[disabled]:focus,
fieldset[disabled] .btn-question:focus,
.btn-question.disabled:active,
.btn-question[disabled]:active,
fieldset[disabled] .btn-question:active,
.btn-question.disabled.active,
.btn-question[disabled].active,
fieldset[disabled] .btn-question.active {
    background-color: #ED7458;
    border-color: #D45B3F;
}

.btn-question .badge {
    color: #ED7458;
    background-color: #FFFFFF;
}

footer {
    background-color: #efefee;
}


.form_checkout input[type=text]{
    margin: 5px !important;
}

.form_checkout button {
    /*margin: 5px !important;*/
}

.container_cart{
    position: relative;
    top: 60px;
}

.second_column_cart  {
    margin: 17px;
    position: absolute;
    right: 40px;
    background: wheat;
    padding: 35px;
    width: 50%;
    top: -18px;
}

.thank_you{
    position: relative;
    top: 60px;
    background: red;
}

.profile_row_body{
    margin-bottom: 100px !important;
    font-size: 14px;
}

.body{
    filter: blur(5px);
}

.cookie_accept{
    position:fixed;
    bottom: 0;
    height: 100%;
    border: 1px solid black;
    background: white;
    padding: 50px;
    width:100%;
    text-align: center;
    z-index: 3;
    justify-content: center;
}
.dimmer{
    background-color: black;
    opacity: 0.5;
}


.modal_cookie .modal-dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

.modal_cookie .modal-body img{
    margin-top: 50px;
    margin-bottom: 53px;
}
.modal_cookie .modal-body h2{
    font-weight: 900;
}
.modal_cookie .modal-body{
    text-align: center;
    height: 400px;
}

.modal_cookie .btn-primary{
    background: tan;
    border: none;
}
.modal_cookie .btn-secondary{
    background: transparent;
    border: none;
    color: black;
}
#CheckPasswordMatch{
    font-size: 15px;
}

label
{
    text-transform: capitalize;
}

.alert
{
    font-size: 12px;
}

.requirements
{
    list-style-type: none;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}

.profile_row_body{
    padding: 50px;
    margin-top: 50px;
}

.container_cart {
    height: 100%;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.col_design{
    text-align: center;
    max-width: 260px;
    min-width: 260px;
    max-height: 407px;
    min-height: 390px;
    background: white;
    padding: 10px;
    margin: 35px;
    z-index: 2;
}

.descriptionHomePage{
    height: 72px;
}

.col_design:hover{
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
    cursor: pointer;
}

.img_product {
    width:inherit;
    height: 200px;
}

.title_product{
    font-size: 22px;
}

.pagination{
    margin-top: 40px;
    justify-content: center;
}


.img_product_page{
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.div_product_page {
    padding: 50px;
}
.div_product_page .row div:nth-child(3){
    /*background: white;*/
    /*margin: 20px;*/
    /*padding: 20px;*/
    /*border-radius: 10px;*/
}

.title_product_page{
    font-size: 20px;
    line-height: 12px;

}

.type_of_orders{
    margin-bottom: 50px;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
    color: #005596;
    text-transform: lowercase;
}

.ordered_orders  #dropdownMenuLink {
    background: white;
    border: 2px solid #BBBBBB;
    margin-top: 50px;
}
.ordered_orders{
    background: wheat;
    border-radius: 10px;
}
.ordered_orders  p {
    line-height: 7px;
}

.order_card{
    margin-bottom: 46px;
    padding: 30px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%), 0 0 20px 0 rgb(0 0 0 / 19%);
    height: auto;

}


.order_head{
    border-bottom: 1px solid #cecece;
    padding-bottom: 12px;
}

.order_body{
    padding-top: 26px;
}

.order_number{
    font-size: 18px;
    font-weight: 700;
    color: #005596;
}

button{
    background: white;
    border: 2px solid #005596;
}

.status_order{
    color: #11B2F8;
    font-weight: 900;

}


.navbar-collapse{
    justify-content: right;
}

.navbar2{
    background: linear-gradient(302deg, rgba(315,243,55,1) 15%, rgba(130,18,81,1) 97%);
}

.navbar2 a {
    color:white;
    height: 25px !important;
}

.navbar2 ul{
    position: relative;
    top: -7px;
}

div[class^='refund_div'] i {
    padding: 15px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
div[class^='refund_div'] p {
    position: relative;
    top: 13px;
    font-size: 31px;
    padding: 10px;
}
div[class^='refund_div']{
    display: inline-flex;
}


.refund_button{
    padding: 0 15px 0 15px;
    margin: 12px 0px 12px 0px;
}

.order_card_admin{
    background: white;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}


.order_body_cart img{
    margin-right: 45px;
}
.order_body_cart{
    height: 200px;
    padding: 40px;
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
}

div[class^=oneItemDiv]{
    width: 100%;
}

.order_price_cart{
    float: right;
    font-size: 16px;
    color: #666;
}

.total_single_product_price{
    float: right;
    font-size: 38px !important;
    color: #af0023;
}

.cancel_all_order_cart i{
    font-size: 10px;
    position: relative;
    /*top: -4px;*/
    pointer-events: none;
}
.cancel_all_order_cart {
    position: relative;
    bottom: 24px;
    left: 587px;
    cursor: pointer;
}

.container_orders_cart{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.oneItemTitle{
    font-size: 20px
}
div[class^=second_div_cart] button {
    background-color:  unset !important;
    font-size: 31px;
    padding: 0 !important;
    margin: 0 !important;
}
div[class^=second_div_cart]{
    /*display:inline-flex;*/
    /*position: relative;*/
    /*top: -10px;*/
    /*font-size: 18px;*/
    /*font-weight: 900;*/
    width: fit-content;
    height: 60px;
    border-radius: 7px;
    border: 1px solid #dcdcdc;
}

div[class^=second_div_cart] input {
    background-size: 10px 10px;
    background-position: 90% 90%;
    border: 1px solid #dcdcdc;
    padding: 0 3px;
    font-size: inherit;
    text-align: center;
    color: #000;
    font-weight: 600;
    width: 42px;
    box-shadow: inset 0 5px 5px 0 hsl(0deg 0% 86% / 86%);
    height: 100%;
}

p[class^=order_quantity_cart]{
    padding-top:12px;
}

.product_price_div p:first-child{
    font-size: 20px;
}
.product_price_div{
    display: grid;
    float: right;
    position: relative;
    top: -47px;
    text-align: center;
}

.price_total{
    background: white;
    height: min-content;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;*/
    padding-bottom: 40px;

}

.summary_text
{
    font-weight: 900;
    font-size: 22px;
}


.btn-continue
{
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px;
    color: #fff;
    background-color: #3d8b21;
    border-color: #39811e;
    height: 60px;
    font-size: 20px;
    border-radius: 7px;
}

.total_price
{
    font-size: 30px;
    position: relative;
    top: 10px;
}

label{
    text-transform: capitalize;
    margin-bottom: 20px;
}

label input{
    margin-top: 10px;
}

body.cart_page .form_checkout_labels label{
    display: grid;
}

body.cart_page .offline_payment label input,
body.cart_page .payment_details_head label input{
    margin-left: 10px;
    margin-top: 0 ;
}
.offline_payment p , .payment_details_head p{
    font-size: 25px;
}

.title_product_page{
    font-size: 33px;
    font-weight: 900;
}

.product_price_page , .product_price_page_span{
    font-size: 38px;
    color: #af0023;

}
.div_product_page_card{
    border-radius: 7px;
    padding: 24px;
    background: #FBFBFB;
    border: 1px solid #dcdcdc;
    height: 110px;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    display: inline-flex;
}

.btn-outline-light{
    /*position: relative;*/
    width: 20px;
    padding: 3px;
    /*height: auto;*/
    /*flex-grow: 1;*/
    height: 100%;
    text-align: center;
    color: #a7a8aa;
    background-color: #fff;
}

.i_pr_page {
    margin: 0 !important;
}

.card_price_pr_page{
    border-radius: 7px;
    border: 1px solid #dcdcdc;
}

.card_price_pr_page input {
    background-size: 10px 10px;
    background-position: 90% 90%;
    border: 1px solid #dcdcdc;
    padding: 0 3px;
    font-size: inherit;
    text-align: center;
    color: #000;
    font-weight: 600;
    width: 42px;
    box-shadow: inset 0 5px 5px 0 hsl(0deg 0% 86% / 86%)
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.add_to_cart_button i,
.remove_to_cart_button i{
    pointer-events: none;
    font-size: 17px;
    position: relative;
    top: -4px;
}
.add_to_cart_button_pr_page{
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px;
    color: #fff;
    background-color: #3d8b21;
    border-color: #39811e;
    height: 60px;
    font-size: 20px;
    border-radius: 7px;
}
.form_submit_pr_page{
    padding-left: 15px;
}

.div_fa_question i {
    font-size: 12px;
    position: relative;
    top: -2px;
    color:#92988E;
}
.div_fa_question{
    border: 1px solid #92988E;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: relative;
    top: 17px;
    left: 12px;
}

.fa-asterisk{
    color:green;
    margin-right:10px;
}

.fa-box-open{
    font-size: 39px;
    color: green;
}

.available_product span{
    font-size: 23px;
    position: relative;
    top: -8px;
    left: 7px;
}

.product_category{
    color: #a7a8aa!important;
}

.nav_product_description{
    align-items: flex-end;
    padding: 12px 30px 0;
    position: relative;
    z-index: 2;
    min-height: 62px;
    background-color: #e1ebf5;
    border-radius: 7px;
}

.description_tab{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px 22px;
    font-weight: 600;
    color: #0078be;
    font-family: inherit;
    border: 0;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
}

.other_tab{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px 22px;
    font-weight: 600;
    color: #0078be;
    font-family: inherit;
    border: 0;
    background-color: #f1f5fa;
    cursor: pointer;
}

.box_content_main_description, .box_content_main_other{
    padding: 50px;
}

.fa-cart-shopping{
    margin:11px;
    font-size: 20px;
    color: blue;
}

.content_cart{
    position: absolute;
    right: 129px;

}

@media(max-width: 500px){
    .container_cart {
        margin: 0 !important;
        max-width: 100%;
        padding:0;
    }
    .container_orders_cart{
        width: 100%;
        display: grid;
    }
    .container_orders_cart h4{
        width: auto;
    }
    .order_body_cart{
        padding: 15px;
        height: auto;
    }
    .navbar2 ul{
        flex-direction: row;
    }
    .navbar2 ul li{
        margin-right: 10px;
    }

    .orders_all{
        width: 100%;
    }
    .cancel_all_order_cart{
        bottom: 30px;
        left: 586px;
        border: none;
    }
    .edit_quantity_cart, .product_price{
        display:none;
    }
    .order_body_cart img {
        margin-right: 0;
    }
    .total_single_product_price{
        font-size: 25px !important;
    }
    .oneItemTitle{
        padding-left:10px;
    }

    .product_price_div{
        position: relative;
        top: 0;
    }

    div[class^=second_div_cart]{
        position: relative;
        left: 12px;
    }

    .price_total.fill_price_total{
        width: 100%;
    }









}

body:not(body.cart_page) .container_cart {
    margin: 0 !important;
    max-width: 100%;
    padding:0;
    top: 0 ;
}
body:not(body.cart_page) .container_orders_cart{
    width: 100%;
    display: grid;
}
body:not(body.cart_page) .container_orders_cart h2{
    display:none;
}
body:not(body.cart_page) .order_body_cart{
    padding: 15px;
    height: auto;
    background: whitesmoke;
}
body:not(body.cart_page) .navbar2 ul{
    flex-direction: row;
}
body:not(body.cart_page) .navbar2 ul li{
    margin-right: 10px;
}

body:not(body.cart_page) .orders_all{
    width: 100%;
}
body:not(body.cart_page) .cancel_all_order_cart{
    left: 303px;
    bottom: 5px;
    border: none;
}
body:not(body.cart_page) .edit_quantity_cart,
body:not(body.cart_page) .product_price{
    display:none;
}
body:not(body.cart_page) .order_body_cart {
    margin-bottom:11px !important;
    color: black;
}
body:not(body.cart_page) .order_body_cart img {
    margin-right: 0;
}
body:not(body.cart_page) .total_single_product_price{
    font-size: 25px !important;
}
body:not(body.cart_page) .oneItemTitle{
    padding-left:10px;
}

body:not(body.cart_page) .product_price_div{
    position: relative;
    top: 0;
}

body:not(body.cart_page) div[class^=second_div_cart]{
    position: relative;
    left: 12px;
}

body:not(body.cart_page) .price_total.fill_price_total,
body:not(body.cart_page) .form_checkout{
    display: none;
}


body:not(body.cart_page) .content_cart{
    width: 400px;
    background: white;
    z-index: 3;
    position: absolute;
    top: 59px;
    right: 0;
    border: 1px solid #dcdcdc;
}

body:not(body.cart_page) .content_cart {
    color: #fff;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 8px;
    margin: 0;
    top: 68px;
}

body:not(body.cart_page) .content_cart:before {
    content: "";
    position: absolute;
    height: 29px;
    width: 29px;
    transform: rotate(45deg);
    right: 168px;
    top: -6px;
    background: white;
    border-left: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
}

body:not(body.cart_page) .details_button{
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px;
    color: #fff;
    background-color: #3d8b21;
    border-color: #39811e;
    height: 60px;
    border-radius: 7px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    text-decoration: none;
}

body:not(body.cart_page) .form_checkout {
    padding: 20px;
    background: white;
    border-radius: 8px;
}

.fa-cart-shopping{
    cursor: pointer;
}

.content_cart{
    display:none;
}

.clicked{
    display: unset;
}


.items_number {
    width: 18px;
    height: 18px;
    background-color: red;
    color: yellow;
    border-radius: 50%;
    text-align: left;
    font-size: 13px;
    font-weight: 900;
    position: relative;
    left: 52px;
    top: 14px;
}

.no_product_cart_preview .details_button{
    padding: 10px;
}
.no_product_cart_preview{
    color: black;
    height: 120px;
    text-align: center;
    padding-top: 19px;
}


.title_product{
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.descriptionHomePage{
    margin: 0;
}
.price_product{
    position: relative;
    top: -18px;
    font-size: 30px;
    font-weight: 900;
}


.page-item.active .page-link {
    background-color: #3d8b21 !important;
}

.page-item .page-link:not(.page-item.active .page-link, .page-item.disabled .page-link){
    color: #3d8b21 !important;
}

.homepage_page .btn-secondary.dropdown-toggle{
    background-color: #3d8b21;
    position: relative;
    left: 21px;
    top: 19px;
}

.form_checkout button:not(.go_back,.remove_to_cart_button, .add_to_cart_button){
    background-color: #3d8b21;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.form_checkout .go_back{
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;

}