@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fontsource/roboto-condensed";

body {
    font-family: spartan;
    color: #444;
}

/*.navbar{*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    z-index: 2;*/
/*}*/

.jumbotron-img {
    background: rgb(237,116,88);
    background: linear-gradient(302deg, rgba(237,116,88,1) 16%, rgba(51,61,81,1) 97%);
    color: #fff;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #ED7458 ;
}

.q-container img, .q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.q-display {
    background: #fff;
    border-radius: .25rem;
}
.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}
.q-title {
    text-transform: uppercase;
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #333D51;
    color: #fff;
}

.answer-link:hover .magic-wand {
  transform: rotate(20deg);
}

.vote-arrows, .vote-arrows .btn {
    font-size: 1.5rem;
}

.vote-arrows .btn {
    color: #444;
    padding: 0;
}

.vote-arrows span {
    font-size: 1rem;
}

.vote-up:hover {
    color: #3D9970;
}
.vote-down:hover {
    color: #FF4136;
}

.vote-arrows-alt .vote-up:hover {
    color: #3D9970;
}
.vote-arrows-alt .vote-down:hover {
    color: rgba(179, 20, 12, 0.63);
}

.btn-question {
  color: #FFFFFF;
  background-color: #ED7458;
  border-color: #D45B3F;
}

.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
  color: #FFFFFF;
  background-color: #D45B3F;
  border-color: #D45B3F;
}

.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
  background-image: none;
}

.btn-question.disabled,
.btn-question[disabled],
fieldset[disabled] .btn-question,
.btn-question.disabled:hover,
.btn-question[disabled]:hover,
fieldset[disabled] .btn-question:hover,
.btn-question.disabled:focus,
.btn-question[disabled]:focus,
fieldset[disabled] .btn-question:focus,
.btn-question.disabled:active,
.btn-question[disabled]:active,
fieldset[disabled] .btn-question:active,
.btn-question.disabled.active,
.btn-question[disabled].active,
fieldset[disabled] .btn-question.active {
  background-color: #ED7458;
  border-color: #D45B3F;
}

.btn-question .badge {
  color: #ED7458;
  background-color: #FFFFFF;
}

footer {
    background-color: #efefee;
}


.form_checkout input[type=text]{
    margin: 5px !important;
    /*width: 50%;*/
}

.form_checkout button {
    margin: 5px !important;
    /*width: 50%;*/
}

.container_cart{
    position: relative;
    top: 60px;
}

.second_column_cart  {
    margin: 17px;
    position: absolute;
    right: 40px;
    background: wheat;
    padding: 35px;
    width: 50%;
    top: -18px;
}
.second_column_cart{
    /*position: fixed;*/
}

footer{
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

.thank_you{
    position: relative;
    top: 60px;
    background: red;
}

.profile_row_body{
    margin-bottom: 100px !important;
}


.cookie_accept{
    position:fixed;
    bottom: 0;
    height: 50%;
    border: 1px solid black;
    background: white;
    padding: 50px;
    width:100%;
    text-align: center;

}

#CheckPasswordMatch{
    font-size: 15px;
}

label
{
    text-transform: capitalize;
}

.alert
{
    display: none;
}

.requirements
{
    list-style-type: none;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}

.profile_row_body{
    border: 1px solid black;
    padding-left: 50px;
    padding-bottom: 50px;
}

html, body, .container_cart {
    height: 100%;
}

body{
    background: #E3E2E1;
}

.col_design{
    text-align: center;
    max-width: 260px;
    min-width: 260px;
    max-height: 390px;
    min-height: 390px;
    background: white;
    padding: 10px;
    margin: 35px;
}

.descriptionHomePage{
    height: 72px;
}

.col_design:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}

.img_product {
    width:inherit;
    height: 200px;
}

.title_product{
    font-size: 22px;
}

.pagination{
    margin-top: 40px;
    justify-content: center;
}


.img_product_page{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}

.div_product_page {
    padding: 50px;
}
.div_product_page .row div:nth-child(3){
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.title_product_page{
    font-size: 20px;
}