@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fontsource/roboto-condensed";

body {
    font-family: Trebuchet MS , sans-serif;
    color: #444;
    background:#FAFAFA;
}

.jumbotron-img {
    background: rgb(237,116,88);
    background: linear-gradient(302deg, rgba(237,116,88,1) 16%, rgba(51,61,81,1) 97%);
    color: #fff;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #ED7458 ;
}

.q-container img, .q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.q-display {
    background: #fff;
    border-radius: .25rem;
}
.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}
.q-title {
    text-transform: uppercase;
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #333D51;
    color: #fff;
}

.answer-link:hover .magic-wand {
    transform: rotate(20deg);
}

.vote-arrows, .vote-arrows .btn {
    font-size: 1.5rem;
}

.vote-arrows .btn {
    color: #444;
    padding: 0;
}

.vote-arrows span {
    font-size: 1rem;
}

.vote-up:hover {
    color: #3D9970;
}
.vote-down:hover {
    color: #FF4136;
}

.vote-arrows-alt .vote-up:hover {
    color: #3D9970;
}
.vote-arrows-alt .vote-down:hover {
    color: rgba(179, 20, 12, 0.63);
}

.btn-question {
    color: #FFFFFF;
    background-color: #ED7458;
    border-color: #D45B3F;
}

.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
    color: #FFFFFF;
    background-color: #D45B3F;
    border-color: #D45B3F;
}

.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
    background-image: none;
}

.btn-question.disabled,
.btn-question[disabled],
fieldset[disabled] .btn-question,
.btn-question.disabled:hover,
.btn-question[disabled]:hover,
fieldset[disabled] .btn-question:hover,
.btn-question.disabled:focus,
.btn-question[disabled]:focus,
fieldset[disabled] .btn-question:focus,
.btn-question.disabled:active,
.btn-question[disabled]:active,
fieldset[disabled] .btn-question:active,
.btn-question.disabled.active,
.btn-question[disabled].active,
fieldset[disabled] .btn-question.active {
    background-color: #ED7458;
    border-color: #D45B3F;
}

.btn-question .badge {
    color: #ED7458;
    background-color: #FFFFFF;
}

footer {
    background-color: #efefee;
}


.form_checkout input[type=text]{
    margin: 5px !important;
}

.form_checkout button {
    margin: 5px !important;
}

.container_cart{
    position: relative;
    top: 60px;
}

.second_column_cart  {
    margin: 17px;
    position: absolute;
    right: 40px;
    background: wheat;
    padding: 35px;
    width: 50%;
    top: -18px;
}

.thank_you{
    position: relative;
    top: 60px;
    background: red;
}

.profile_row_body{
    margin-bottom: 100px !important;
    font-size: 14px;
}


.cookie_accept{
    position:fixed;
    bottom: 0;
    height: 50%;
    border: 1px solid black;
    background: white;
    padding: 50px;
    width:100%;
    text-align: center;

}

#CheckPasswordMatch{
    font-size: 15px;
}

label
{
    text-transform: capitalize;
}

.alert
{
    font-size: 12px;
}

.requirements
{
    list-style-type: none;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}

.profile_row_body{
    padding: 50px;
    margin-top: 50px;
}

.container_cart {
    height: 100%;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.col_design{
    text-align: center;
    max-width: 260px;
    min-width: 260px;
    max-height: 390px;
    min-height: 390px;
    background: white;
    padding: 10px;
    margin: 35px;
    z-index: 2;
}

.descriptionHomePage{
    height: 72px;
}

.col_design:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}

.img_product {
    width:inherit;
    height: 200px;
}

.title_product{
    font-size: 22px;
}

.pagination{
    margin-top: 40px;
    justify-content: center;
}


.img_product_page{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}

.div_product_page {
    padding: 50px;
}
.div_product_page .row div:nth-child(3){
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.title_product_page{
    font-size: 20px;
}

.type_of_orders{
    margin-bottom: 50px;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
    color: #005596;
    text-transform: lowercase;
}

.ordered_orders  #dropdownMenuLink {
    background: white;
    border: 2px solid #BBBBBB;
    margin-top: 50px;
}
.ordered_orders{
    background: wheat;
    border-radius: 10px;
}
.ordered_orders  p {
    line-height: 7px;
}

.order_card{
    margin-bottom: 46px;
    padding: 30px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%), 0 0 20px 0 rgb(0 0 0 / 19%);
    height: auto;

}


.order_head{
    border-bottom: 1px solid #cecece;
    padding-bottom: 12px;
}

.order_body{
    padding-top: 26px;
}

.order_number{
    font-size: 18px;
    font-weight: 700;
    color: #005596;
}

button{
    background: white;
    border: 2px solid #005596;
}

.status_order{
    color: #11B2F8;
    font-weight: 900;

}


.navbar-collapse{
    justify-content: right;
}

.navbar2{
    background: linear-gradient(302deg, rgba(315,243,55,1) 15%, rgba(130,18,81,1) 97%);
}

.navbar2 a {
    color:white;
    height: 25px !important;
}

.navbar2 ul{
    position: relative;
    top: -7px;
}

div[class^='refund_div'] i {
    padding: 15px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
div[class^='refund_div'] p {
    position: relative;
    top: 13px;
    font-size: 31px;
    padding: 10px;
}
div[class^='refund_div']{
    display: inline-flex;
}


.refund_button{
    padding: 0 15px 0 15px;
    margin: 12px 0px 12px 0px;
}

.order_card_admin{
    background: white;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}


.order_body_cart img{
    margin-right: 45px;
}
.order_body_cart{
    height: 200px;
    padding: 40px;
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

div[class^=oneItemDiv]{
    width: 100%;
}

.order_price_cart  {
    float: right;
}


.container_orders_cart{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.oneItemTitle{
    font-size: 20px
}

div[class^=second_div_cart]{
    display:inline-flex;
    position: relative;
    top: -10px;
    font-size: 18px;
    font-weight: 900;
}
p[class^=order_quantity_cart]{
    padding-top:12px;
}

.product_price_div p:first-child{
    font-size: 20px;
}
.product_price_div{
    display: grid;
    float: right;
    position: relative;
    top: -47px;
    text-align: center;
}

.price_total{
    background: white;
    height: min-content;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    padding-bottom: 40px;

}

.summary_text
{
    font-weight: 900;
    font-size: 22px;
}


.btn-continue
{
    position: relative;
    top: 21px;
    width: 100%;
}

.total_price
{
    font-size: 30px;
    position: relative;
    top: 10px;
}

label{
    text-transform: capitalize;
    margin-bottom: 20px;
}

label input{
    margin-top: 10px;
}

body.cart_page .form_checkout_labels label{
    display: grid;
}

body.cart_page .offline_payment label input,
body.cart_page .payment_details_head label input{
    margin-left: 10px;
    margin-top: 0 ;
}
.offline_payment p , .payment_details_head p{
    font-size: 25px;
}