{% extends 'base.html.twig' %}

{% block body %}
    <p class="thank_you">thank you for your order!</p>
    <script>
        $('.items_number').text(0);
        if(typeof $.cookie('thanks') !== 'undefined'){
            if(parseInt($.cookie('thanks')) === 1){
                window.history.replaceState({}, document.title, "/");
                $.removeCookie('product_item');
            }
        }
        // window.history.pushState({}, document.title, "/" + "my-new-url.html");
        window.history.replaceState({}, document.title, "/");

        // window.location.href.replace(window.location.origin);
    </script>
{% endblock %}